// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  margin: 0 auto;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    list-style: none;
}

a {
    text-decoration: none;
}

.dash-container, .app-container, .header {
    position: relative;
}

.header {
    padding: 20px;
    height: 60px;
    background-color: lightgrey;
}

.home, .logout {
    position: absolute;
    display: inline-block;
}

.logout {
    right: 20px;
}

.nav, .main-container {
    position: absolute;
    display: inline-block;
    top: 60px;
}

.nav {
    width: 25%;
    background-color: grey;
    color: white;

    & ul {
        padding: 20px;
    }

    & li {
        padding: 5px 0 5px 0;
        list-style-type: none;
    }

    & a {
        color: white;
    }
}

label, input {
    display: inline;
}

.draft-link {

    padding: 3px 0 3px 10px;

    & a {
        color: white;
    }
}

.dash-container {
    padding: 20px;
    position: absolute;
    display: inline-block;
    left: 25%;
}

.main-container {
    padding: 20px;
    position: absolute;
    display: inline-block;
    left: 25%;
}

.new-button, .drafts-button, .queue-button, .docs-button {
    cursor: pointer;
}

.draft-container, .queue-container, .queue-docs {
    display: none;
}

.show-drafts {
    display: inline-block;
}

.draft-link {
    display: block;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
